@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import "reset";

body {
  margin: 0;
  font-family: 'Spoqa Han Sans Neo', 'Noto Sans', 'Noto Sans CJK KR',
      -apple-system, 'Roboto', sans-serif;;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.01em;
}
